.butao {
    border-style: groove;
    border-radius: 5px;
    border-width: 1.3px;
}

.cor1 {
    border-style: groove;
    border-radius: 5px;
    border-width: 3px;
    padding: 35px; 
    background-color: red; }

.cor2 { border-style: groove;
    border-radius: 5px;
    border-width: 3px;
    padding: 35px;
    background-color: blue; }

.cor3 { border-style: groove;
    border-radius: 5px;
    border-width: 3px;
    padding: 35px;
    background-color: green; }

.cor4 { border-style: groove;
    border-radius: 5px;
    border-width: 3px;
    padding: 35px;
    background-color: yellow; }

.quadrado{
    border-style: groove;
    border-radius: 5px;
    border-width: 3px;
    padding: 35px;
}

body{
    background-color: antiquewhite;
}

.quadrado_cores{
    border-style: groove;
    border-radius: 3px;
}
.quadrados_cores{
    border-style: groove;
    border-radius: 5px;
    padding: 3vh;
}

.quadrados_cores_text{
    border-style: groove;
    border-radius: 5px;
    padding: 1vh;

}